---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for individual blog posts–it builds the front matter properties into the page #}

<div class="wrapper post">
  <div>
    {# The post front matter includes the title property #}
    <h1>{{title}}</h1>

    {# ADD P ELEMENT FROM TODO ON THE NEXT LINE #}
    
    {# Content from the body of the post markdown appears here #}
    {{ content | safe }}
    
  </div>
</div>